@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.btn-form
		margin: 0 auto
		display: block
		margin-bottom: 5px


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	html, body
		font-size: 12px


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/




